body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#new-book-btn {
  padding: 1rem;
  width: fit-content;
  justify-self: center;
  align-self: center;

}

#form {
  align-self: center;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: fit-content;
  height: 20rem;
  align-items: center;
  justify-content: center;
  border: solid;
  gap: 0.5rem;
}

.card{
  align-self: center;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: fit-content;
  height: 20rem;
  align-items: center;
  justify-content: center;
  border: solid;
  gap: 0.5rem;
}

#library {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  flex-direction: row;
  width: 100dvh;
  gap: 2rem;
  flex-wrap: wrap;
  
}